.Promo{
    background-color: #3F7633;

    

}

.grid1{
    
     display: grid;
     grid-template-columns: 250px 1187px;
     grid-template-rows: 200px;
}   

.services{

    display:flex;
    flex-direction: row;
    justify-content:center ;
    justify-content: space-around;
    align-items: center;
    

}

.adopta{
    background-color: #00C4CC;
    display: grid;
    grid-template-columns: 937px 500px;
    grid-template-rows: 400px;
} 

.adpfr{
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 100px;
    font-family: rockwell ;
    display:flex;
    justify-content: center;
}

.sponsor{
    font-size: 50px;
    font-family:didot ;
    font-style: italic;
    display:flex;
    justify-content:center;
    margin-bottom: 0px;
    
}

.register{
    width:500px ;
    display:flex;
    justify-content:left;

}

.servicios{
    background-color: #E5C94C;
    display: grid;
    grid-template-columns: 475px 475px 475px;
    grid-template-rows: 500px;
}  

.sales1{
    font-size: 100px;
    color: red;
    text-align: center;
}