.Promo{
    background-color: #3F7633;

    padding: 25px;
    flex-wrap: wrap;
    min-width: 250px;
    

}

.grid1{
    
     display: grid;
     grid-template-columns: 250px 1187px;
     grid-template-rows: 200px;
     
     

}   

.services{

    display:flex;
    flex-direction: row;
    justify-content:center ;
    justify-content: space-around;
    align-items: center;
   

}

.adopta{
    background-color: #00C4CC;
    display: grid;
    grid-template-columns: 937px 500px;
    grid-template-rows: 400px;
    padding: 25px;
   
} 

.adpfr{
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 100px;
    font-family: rockwell ;
    display:flex;
    justify-content: center;
  
    
}

.sponsor{
    font-size: 50px;
    font-family:didot ;
    font-style: italic;
    display:flex;
    justify-content:center;
    margin-bottom: 0px;
    
}

.register{
    width:500px ;
    display:flex;
    justify-content:left;

}

.servicios{
    background-color: #E5C94C;
    display: grid;
    grid-template-columns: 475px 475px 475px;
    grid-template-rows: 500px;
}  

.sales1{
    font-size: 100px;
    color: red;
    text-align: center;
}

.foot{
    background-color: black;
    display: grid;
    grid-template-columns: 475px 475px 475px;
    grid-template-rows: 150px;
    justify-content: center;
    align-items: flex-end;
}

.face{
    display: grid;
    justify-content: center;
}


@media screen and (min-width:1024px) {
    body {
        background:none;
    }
   

}


@media screen and (min-width: 768px) and (max-width: 1023px){ 
    body{
        background: linear-gradient(90deg,#6A0E03,#E58B80 );

    }

    .servicios{
        background-color: #e36628;
        display: grid;
        grid-template-columns: 500px;
        grid-template-rows: 500px 500px 500 px;
        justify-content: center;
        width: 100%;
    } 

    .services{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}


@media screen and (max-width:767px){
    body{
        background: linear-gradient(90deg,#68D133,#BCEEA2 );

    }

    .servicios{
        background-color: #78b35f;
        display: grid;
        grid-template-columns: 500px;
        grid-template-rows: 500px 500px 500 px;
        justify-content: center;
        padding: 15px;
        margin: 10px;
    } 
    .services{
        display:none;
    }


}